
@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');

body {
    background:url("/pattern-randomized.png");
    color: #333;
    font-family: 'Poppins' , Times, serif;
}

header {
    background-color: rgb(38, 60, 151);
    color: white;
    padding: 5px 0;
}

.navbar-nav .nav-link {
    color: white !important;
    margin-right: 30px !important;
}

.navbar-nav .nav-link:last-child {
    margin-right: 0;

}

.navbar-nav .nav-link:hover {
    color: #cccccc !important;
    transition: all 0.3s ease;

}

.hero {
    position: relative;
    overflow: hidden;
    color: #FBFFF4;
    text-align: center;
    height: 100vh;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin-bottom: 12%;
}

.hero::before {
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background: url('images/banner.png') no-repeat center center;
    background-size: cover;
    filter: blur(5px);
    z-index: 1;
}

.hero h1,
.hero p {
    position: relative;
    z-index: 2;
    font-family:'Times New Roman';
}
#about{
    padding: 10px;
    background-color: #f8f7f4f6;
    box-shadow: #33333389 2px 15px 35px;
    border-radius: 1.85rem;
    color: #252525;
}
#about h2 {
    margin: 60px 0 50px 50px;
}

.about-container {
    display: grid;
    grid-template-columns: 1fr 1fr;
    gap: 20px;
}

.about-text {
    padding: 20px;
}

.about-text p {
    font-size: 19px;
    text-align: justify;
}

.about-image img {
    max-width: 100%;
    height: auto;
}

@media only screen and (max-width:768px) {
    #about{
        margin: 0 30px 0 30px;
    }
    .about-container{
        display: grid;
        grid-template-columns: 1fr;
        padding:2px;
    }
    .about-text p{
        font-size: 17px;
    }
    .hero h1{
        font-size: 3rem;
    }
}



#members {
    padding: 40px 0;
}

#members h2 {
    margin-bottom: 80px;
}

.card {
    border: none;
    border-radius: 10px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
}

.card-img-top {
    border-top-left-radius: 10px;
    border-top-right-radius: 10px;
    height: 200px;
    object-fit: cover;
}

.card-title {
    font-weight: bold;
}

.card-text {
    color: #555;
}




#events {
    padding: 40px 0;
}

#events h2 {
    margin-bottom: 80px;
}

.img-fluid {
    width: 100%;
    height: auto;
    border-radius: 10px;
}







#faq {
    padding: 40px 0;
}

#faq h2 {
    margin-bottom: 80px;
}

.card {
    border: 1px solid #a2cfff;
    border-radius: 5px;
    margin-bottom: 15px;
}

.card-header {
    background-color: #aac5e2;
    color: white;
}

.btn-link {
    color: white;
    text-decoration: none;
}

.btn-link:hover {
    text-decoration: none;
}

.card-body {
    background-color: #f8f9fa;
}


footer {
    background-color: rgb(38, 60, 151);
    color: white;
    padding: 20px 0;
}